/* ========body styles=============== */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Inter Tight", sans-serif;
  color: #fbfbfb;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
    margin-right: auto;
    margin-left: auto;
  }
}
/* ========end body styles=========== */

/* =============header=============== */

.header-nav {
  display: none;
}

.header-logo {
  width: 168px;
  height: 16px;
}

.header-button-open {
  border: none;
  background-color: transparent;
}

.icon-open {
  width: 32px;
  height: 32px;
  stroke: #fbfbfb;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-open:hover,
.icon-open:focus {
  stroke: #d4bfc4;
}

.header-page .container {
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header-page .container {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .header-logo {
    width: 216px;
    height: 20px;
  }

  .icon-open {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header-button-open {
    display: none;
  }

  .header-nav {
    display: block;
  }

  .header-list {
    display: flex;
    align-items: center;
  }

  .nav-link {
    display: block;
    font-weight: 500;
    line-height: 1.25;
    border: 1px solid #fbfbfb;
    border-radius: 12px;
    padding: 12px;
    margin-right: 8px;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .last {
    margin-right: 20px;
  }

  .shop {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    background-color: #7a3145;
    border-radius: 30px;
    padding: 16px 32px;
    margin-right: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    border: none;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #7a3145;
    background-color: #d4bfc4;
    border-color: #d4bfc4;
  }

  .nav-link:active {
    color: #7a3145;
    background: #fbfbfb;
    border: #fbfbfb;
  }
}
/* ==========end header=============== */

/* ==========modal window =============*/
.modal-backdrop {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
}

.modal-window {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 375px;
  height: 100%;
  max-height: 812px;
  background-color: #576f35;
  padding-top: 296px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 52px;
  overflow: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

.header-button-close {
  border: none;
  background-color: transparent;
}

.icon-close {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 32px;
  height: 32px;
  stroke: #fbfbfb;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover,
.icon-close:focus {
  stroke: #d4bfc4;
}

.modal-nav-link {
  display: block;
  border: 1px solid #fbfbfb;
  border-radius: 12px;
  padding: 12px 10px;
  margin-bottom: 24px;
  width: 118px;
  height: 44px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #fbfbfb;
  margin-left: auto;
  margin-right: auto;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-nav-link:nth-child(3) {
  margin-bottom: 232px;
}

.modal-shop {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  border-radius: 30px;
  padding: 16px 10px;
  width: 175px;
  height: 52px;
  background-color: #7a3145;
  outline: none;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-nav-link:hover,
.modal-nav-link:focus {
  color: #7a3145;
  background-color: #d4bfc4;
  border-color: #d4bfc4;
}

.modal-nav-link:active {
  color: #7a3145;
  background: #fbfbfb;
  border: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .modal-backdrop {
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.4);
  }

  .modal-window {
    position: fixed;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    width: 100%;
    max-width: 351px;
    overflow: auto;
    height: 100%;
    max-height: 1020px;
    padding-top: 360px;
    padding-bottom: 48px;
  }

  .modal-nav-link:nth-child(3) {
    margin-bottom: 338px;
  }
}

/* ======end modal window =============*/

/* ================hero=============== */
.main-hero .container {
  background: #576f35;
  padding-left: 0;
  padding-right: 0;
}

.hero-content {
  padding-top: 100px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.title-one {
  font-weight: 600;
  font-size: 52px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  width: 100%;
  max-width: 335px;
  margin-bottom: 20px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
}

.main-hero .text {
  max-width: 335px;
  text-align: left;
}

.hero-image {
  height: 372px;
}

.hero-image {
  background-image: url(../images/mobile/bg-hero-mobile-1.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  max-width: 375px;
  max-height: 372px;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero-image {
    background-image: url(../images/mobile/bg-hero-mobile-2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-content {
    padding-top: 120px;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
    padding-bottom: 52px;
  }

  .title-one {
    font-size: 76px;
    width: 100%;
    max-width: 704px;
    margin-bottom: 24px;
  }

  .text {
    font-size: 16px;
    line-height: 1.25;
  }

  .main-hero .text {
    max-width: 603px;
  }

  .hero-image {
    width: 100%;
    background-image: url(../images/tablet/bg-hero-tablet-1.jpg);
    max-width: 768px;
    min-height: 536px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-image {
    background-image: url(../images/tablet/bg-hero-tablet-2.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .main-hero .container {
    display: flex;
  }

  .hero-content {
    padding-top: 232px;
    padding-left: 100px;
    padding-right: 38px;
    max-width: 640px;
  }

  .title-one {
    font-size: 76px;
    max-width: 502px;
    margin-bottom: 128px;
  }

  .main-hero .text {
    max-width: 470px;
  }

  .hero-image {
    background-image: url(../images/desktop/bg-hero-desktop-1.jpg);
    max-width: 640px;
    min-height: 796px;
  }
}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .hero-image {
    background-image: url(../images/desktop/bg-hero-desktop-2.jpg);
  }
}
/* =============end hero=============== */

/* ============= how its work========== */
.main-hiw .container {
  padding-left: 0;
  padding-right: 0;
}

.hiw-image {
  background: #7a3145;
  padding: 40px 20px;
}

.hiw-content {
  padding: 80px 20px;
  background: #576f35;
}

.title-three {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.title-color {
  color: #d4bfc4;
}

.hiw-content > .text {
  margin-bottom: 40px;
}

.hiw-link {
  position: relative;
  display: flex;
  align-items: center;
  background: #fbfbfb;
  margin-bottom: 20px;
  border-radius: 15px;
  padding-left: 100px;
  align-content: center;
  width: 335px;
  height: 84px;
  text-align: right;
}

.hiw-link .text {
  color: #858585;
  text-align: left;
  width: 208px;
}

.hiw-link .text::before {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: "1";
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.11;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  border-radius: 100%;
  background-color: #7a3145;
  border: 5px solid #d4bfc4;
  left: 25px;
  top: 50%;
  transform: translate(0, -50%);
  height: 52px;
  width: 52px;
}

li.hiw-link:nth-child(2) .text::before {
  content: "2";
}

li.hiw-link:nth-child(3) .text::before {
  content: "3";
}

.text-color {
  font-weight: 700;
  color: #141414;
}

@media screen and (min-width: 768px) {
  .hiw-image {
    padding: 100px 64px;
  }

  .hiw-content {
    padding: 100px 164px;
  }

  .title-three {
    font-size: 32px;
    margin-bottom: 24px;
  }

  .hiw-content > .text {
    margin-bottom: 52px;
  }

  .hiw-link {
    margin-bottom: 24px;
    width: 440px;
    height: 76px;
  }

  .hiw-link .text {
    width: 325px;
  }
}

@media screen and (min-width: 1280px) {
  .main-hiw .container {
    display: flex;
  }

  .hiw-image {
    padding: 100px;
  }

  .hiw-content {
    padding: 100px;
  }

  .hiw-content > .text {
    margin-bottom: 104px;
  }
}
/* ==========end how its work========== */

/* ==========advertisement============= */
.advertisement .container {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #fbfbfb;
}

.advertisement-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  width: 335px;
  color: #141414;
}

.advertisement-color {
  display: inline-block;
  border-radius: 12px;
  width: 335px;
  height: 102px;
  color: #fbfbfb;
  background: #576f35;
}

@media screen and (min-width: 768px) {
  .advertisement .container {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advertisement-text {
    font-size: 64px;
    width: 704px;
  }

  .advertisement-color {
    width: 675px;
    height: 86px;
  }
}

@media screen and (min-width: 1280px) {
  .advertisement .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .advertisement-text {
    font-size: 76px;
    width: 1054px;
  }

  .advertisement-color {
    width: 808px;
    height: 84px;
  }
}
/* ==========end advertisement========== */

/* =============vegetables============= */

.main-vegetables .container {
  background: #7a3145;
  padding-top: 80px;
  padding-bottom: 80px;
}

.title-two {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.main-vegetables .title-two {
  max-width: 335px;
  margin-bottom: 20px;
}

.main-vegetables .text {
  max-width: 335px;
  margin-bottom: 40px;
}

.veg-list {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}

.veg-link {
  background: #fbfbfb;
  border-radius: 40px;
  padding: 32px 24px;
}

.veg-link .title-three {
  color: #7a3145;
  margin-bottom: 12px;
}

.veg-link .text {
  color: #141414;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .main-vegetables .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .title-two {
    font-size: 64px;
    line-height: 1;
  }

  .main-vegetables .title-two {
    max-width: 508px;
    margin-bottom: 24px;
  }

  .main-vegetables .text {
    max-width: 626px;
    margin-bottom: 52px;
  }

  .veg-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 28px;
  }

  .veg-link {
    padding: 32px 30px;
    flex-basis: calc((100% - 24px * 1) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .veg-link {
    padding: 32px;
    flex-basis: calc((100% - 24px * 2) / 3);
  }

  .veg-link .text {
    margin-bottom: 8px;
  }

  .correct-size {
    padding: 32px 31px;
  }
}
/* ===========end vegetables=========== */

/* ================reviews============ */
.reviews-list li:not(:first-child) {
  display: none;
}

.main-reviews .container {
  background: #fbfbfb;
  padding-top: 80px;
  padding-bottom: 80px;
}

.main-reviews .title-two {
  color: #141414;
  margin-bottom: 20px;
  max-width: 335px;
}

.rev-color {
  color: #576f35;
}

.main-reviews .text {
  color: #141414;
  max-width: 335px;
  margin-bottom: 40px;
}

.reviews-link {
  flex-basis: calc((100% - 24px * 2) / 3);
  padding: 20px 16px;
  text-align: center;
  border: 1px solid #d4bfc4;
  border-radius: 24px;
}

.rev-picture {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

.title-four {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
  margin-bottom: 8px;
}

.title-four ~ .text {
  color: #858585;
  max-width: 288px;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .reviews-list li:not(:first-child) {
    display: block;
  }
  .reviews-list li:last-child {
    display: none;
  }

  .main-reviews .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .main-reviews .title-two {
    margin-bottom: 24px;
    max-width: 553px;
  }

  .main-reviews .text {
    max-width: 553px;
    margin-bottom: 52px;
  }

  .reviews-list {
    display: flex;
    gap: 24px;
  }

  .reviews-link {
    flex-basis: calc((100% - 24px * 1) / 2);
    padding: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-list li:last-child {
    display: block;
  }

  .reviews-link {
    flex-basis: calc((100% - 24px * 2) / 3);
  }
}
/* ==============end reviews=========== */
/* ==============your order=========== */
.main-shop .container {
  background: #576f35;
  padding-top: 80px;
  padding-bottom: 80px;
}

.main-shop .title-two {
  margin-bottom: 20px;
  max-width: 335px;
}

.main-shop .text {
  margin-bottom: 40px;
  max-width: 335px;
}

.shop-box-order {
  background: #fbfbfb;
  padding: 40px 20px;
  border-radius: 30px;
  margin-bottom: 20px;
}

.main-shop .title-three {
  color: #141414;
  max-width: 295px;
  margin-bottom: 0;
}

.order-red {
  color: #7a3145;
}

.order-green {
  color: #576f35;
}

.form-shop {
  padding-top: 40px;
  display: block;
  display: flex;
  flex-direction: column;
}

.form-label {
  display: block;
  font-weight: 500;
  line-height: 1.43;
  color: #141414;
}

.form-input {
  width: 100%;
  border: 1px solid #858585;
  border-radius: 30px;
  height: 48px;
  padding-left: 16px;
  margin-bottom: 16px;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
  width: 100%;
  font-weight: 500;
  line-height: 1.43;
  color: #141414;
  border: 1px solid #858585;
  border-radius: 15px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  height: 92px;
  margin-bottom: 20px;
  resize: none;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus,
.form-comment:hover,
.form-comment:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.form-input::placeholder,
.form-comment::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
}

.form-input:not(:placeholder-shown):invalid {
  border-color: red;
}

.form-input:not(:placeholder-shown):valid {
  border-color: green;
}

.form-button {
  border-radius: 30px;
  width: 100%;
  background-color: #7a3145;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  height: 52px;
  outline: none;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  color: #7a3145;
  background-color: #d4bfc4;
  border-color: #d4bfc4;
}

.form-button:active {
  color: #7a3145;
  background-color: #fbfbfb;
  border-color: #fbfbfb;
}

.shop-box-social {
  background: #7a3145;
  padding: 40px 20px;
  border-radius: 30px;
}

.order-picture {
  display: block;
  margin-bottom: 20px;
}

.text-social {
  font-weight: 700;
  line-height: 1.43;
  color: #d4bfc4;
  margin-bottom: 16px;
}

.social-name-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.social-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link.address-link {
  color: #d4bfc4;
}

@media screen and (min-width: 768px) {
  .main-shop .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .main-shop .title-two {
    margin-bottom: 24px;
    max-width: 640px;
  }

  .main-shop .text {
    margin-bottom: 52px;
    max-width: 640px;
  }

  .shop-box-order {
    padding: 72px 100px;
    margin-bottom: 32px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .main-shop .title-three {
    max-width: 440px;
    margin-bottom: 0;
  }

  .form-shop {
    padding-top: 52px;
  }

  .form-label {
    line-height: 1.25;
  }

  .form-input {
    height: 52px;
    padding-left: 14px;
  }

  .form-comment {
    line-height: 1.25;
    height: 96px;
    margin-bottom: 24px;
  }

  .form-input::placeholder,
  .form-comment::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }

  .shop-box-social {
    padding: 52px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .order-picture {
    margin-bottom: 52px;
  }

  .text-social {
    line-height: 1.25;
  }

  .social-name-list {
    gap: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .main-shop .title-two {
    max-width: 751px;
  }

  .main-shop .text {
    max-width: 742px;
  }

  .shop-box {
    display: flex;
    gap: 32px;
  }

  .shop-box-order {
    flex-basis: ((100% - 24px) / 2);
    padding: 52px 48px;
    height: 592px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .main-shop .title-three {
    max-width: 450px;
    margin-bottom: 0;
  }

  .form-label {
    line-height: 1.25;
  }

  .form-input {
    height: 52px;
    padding-left: 15px;
  }

  .form-comment {
    padding-left: 15px;
    padding-right: 15px;
  }

  .shop-box-social {
    flex-basis: ((100% - 24px) / 2);
    padding: 52px 48px;
    margin-left: 0;
    margin-right: 0;
  }

  .order-picture {
    margin-bottom: 80px;
  }

  .text-social {
    line-height: 1.25;
  }

  .social-name-list {
    display: flex;
    gap: 12px;
  }
}

/* ===========end your order========== */

/* ==============footer=============== */

.footer-page .container {
  background: #7a3145;
  padding-top: 40px;
  padding-bottom: 40px;
}

.box-menu-address {
  margin-bottom: 80px;
}

.footer-logo {
  display: block;
  margin-bottom: 14px;
}

.footer-logo-icon {
  width: 168px;
  height: 16px;
}

.footer-logo-text .text {
  max-width: 335px;
  margin-bottom: 40px;
}

.footer-link {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 14px;
  color: #fbfbfb;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: #d4bfc4;
}

.footer-last {
  margin-bottom: 40px;
}

.address-link {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  font-style: normal;
  margin-bottom: 14px;
  max-width: 179px;
  color: #fbfbfb;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-tel:hover,
.address-tel:focus {
  color: #d4bfc4;
}

.footer-policy-list {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.text.policy {
  color: #d4bfc4;
}

@media screen and (min-width: 768px) {
  .footer-page .container {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .box-menu-address {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 86px;
  }

  .footer-logo-text {
    margin-right: 210px;
  }

  .footer-logo-icon {
    width: 216px;
    height: 20px;
  }

  .footer-logo {
    margin-bottom: 24px;
  }

  .footer-logo-text .text {
    max-width: 265px;
  }

  .footer-last {
    margin-bottom: 64px;
  }

  .footer-address-box {
    padding-left: 477px;
  }

  .footer-box-policy {
    display: flex;
    justify-content: space-between;
  }

  .footer-policy-list {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-page .container {
    padding-top: 52px;
    padding-bottom: 52px;
  }

  .box-menu-address {
    display: flex;
    margin-bottom: 124px;
  }

  .footer-logo {
    margin-bottom: 24px;
  }

  .footer-logo-text {
    margin-right: 250px;
  }

  .footer-logo-text .text {
    max-width: 265px;
  }

  .footer-address-box {
    padding-left: 0;
  }

  .footer-list {
    margin-right: 121px;
  }

  .footer-link {
    margin-bottom: 24px;
  }

  .footer-last {
    margin-bottom: 0;
  }

  .address-link {
    line-height: 1.25;
    margin-bottom: 24px;
    max-width: 215px;
  }

  .address-tel:hover,
  .address-tel:focus {
    color: #d4bfc4;
  }

  .footer-box-policy {
    display: flex;
    justify-content: space-between;
  }

  .footer-policy-list {
    display: flex;
    gap: 12px;
  }

  .text.policy {
    color: #d4bfc4;
  }
}

/* ==============end footer=========== */
