/* ========body styles=============== */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: "Inter Tight", sans-serif;
  color: #fbfbfb;
}

.container {
  max-width: 1280px;
  padding-left: 100px;
  padding-right: 100px;
  margin-right: auto;
  margin-left: auto;
}
/* ========end body styles=========== */
/* =============header=============== */
.header-page .container {
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
}

.nav-link {
  display: block;
  font-weight: 500;
  line-height: 1.25;
  border: 1px solid #fbfbfb;
  border-radius: 12px;
  padding: 12px;
  margin-right: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.last {
  margin-right: 20px;
}

.shop {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  background: #7a3145;
  border-radius: 30px;
  padding: 16px 32px;
}

.nav-link:hover,
.nav-link:focus {
  color: #7a3145;
  background: #d4bfc4;
  border: none;
}

.nav-link:active {
  color: #7a3145;
  background: #fbfbfb;
  border: none;
}

/* ==========end header=============== */
/* ================hero=============== */
.main-hero .container {
  background: #576f35;
  display: flex;
}

.hero-content {
  padding-top: 232px;
  padding-bottom: 52px;
}

.hero-image {
  background-color: teal;
  max-width: 640px;
}

.title-one {
  font-weight: 600;
  font-size: 76px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  max-width: 502px;
  margin-bottom: 128px;
}

.text {
  font-weight: 500;
  line-height: 1.25;
}

.main-hero .text {
  max-width: 470px;
  text-align: left;
}
/* =============end hero=============== */
/* ============= how its work========== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-hiw .container {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.hiw-image {
  background: #7a3145;
  padding: 100px;
}

.hiw-content {
  padding: 100px;
  background: #576f35;
}

.title-three {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.hiw-content > .text {
  margin-bottom: 104px;
}

.title-color {
  color: #d4bfc4;
}
.hiw-link {
  background: #fbfbfb;
  margin-bottom: 24px;
  border-radius: 15px;
  padding-block: 12px;
  padding-inline: 24px 25px;
  width: 440px;
  height: 76px;
  text-align: right;
}

.hiw-link .text {
  color: #858585;
}

.text-color {
  font-weight: 700;
  color: #141414;
}
/* ==========end how its work========== */
/* ==========advertisement============= */
.advertisement .container {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #fbfbfb;
}

.advertisement-text {
  font-weight: 600;
  font-size: 76px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}

.advertisement-color {
  display: inline-block;
  border-radius: 12px;
  width: 808px;
  height: 84px;
  color: #fbfbfb;
  background: #576f35;
}
/* ==========end advertisement========== */
/* =============vegetables============= */
#vegetables {
  background: #7a3145;
}

.title-two {
  font-weight: 600;
  font-size: 64px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.veg-link {
  background: #fbfbfb;
}

.veg-link .title-three {
  color: #7a3145;
}

.veg-link .text {
  color: #141414;
}

/* ===========end vegetables=========== */
/* ================reviews============ */
#reviews {
  background: #fbfbfb;
}

#reviews .title-two {
  color: #141414;
}

.rev-color {
  color: #576f35;
}

#reviews > .text {
  color: #141414;
}

.title-four {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #141414;
}

.title-four ~ .text {
  color: #858585;
}
/* ==============end reviews=========== */
/* ==============your order=========== */
#shop-now {
  background: #576f35;
}

.order {
  background: #fbfbfb;
}

.order .title-three {
  color: #141414;
}

.order-red {
  color: #7a3145;
}

.order-green {
  color: #576f35;
}

.order-social {
  background: #7a3145;
}

.text-social {
  font-weight: 700;
  line-height: 1.25;
  color: #d4bfc4;
}

.social-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
/* ===========end your order========== */
/* ==============footer=============== */
.footer-page {
  background: #7a3145;
}

.footer-link {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.address-link {
  font-weight: 700;
  line-height: 1.25;
  font-style: normal;
}

.text.policy {
  color: #d4bfc4;
}

/* ==============end footer=========== */
